* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: rgb(33, 37, 41);
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* navbar    */
nav {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: lightblue;
}

nav input {
    margin: 30px;
}

#userInput {
    width: 241px;
    height: 38px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(206, 212, 218);
    padding: 6px 0px 6px 12px;
    border-radius: 4px;
    outline: none;
}

#userInput:focus {
    border: 1px solid #7952b3;
    box-shadow: 0 0 0 3px rgb(121 82 179 / 25%);
}

#useInput:disabled {
    background-color: rgb(233, 236, 239);
}

.searchBtn {
    font-size: 12px;
    border: 1px solid rgb(222, 226, 230);
    border-radius: 2px;
    height: 24px;
    padding: 0px 4px;
    position: absolute;
    left: 225px;
    background-color: rgb(255, 255, 255);
    user-select: none;
    outline: none;
}

.searchBtn:disabled {
    background-color: rgb(233, 236, 239);
}

.emptyMsg {
    display: none;
    color: red;
}

.emptyMessage {
    display: flex;
}

.inputMsg {
    display: none;
    color: red;
}

.letterAndNumber {
    display: flex;
}

/* main  */
main {
    overflow-x: auto;
    background-color: #e2e8f0;
}

/* Loader  */
.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #504e4e;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 10px auto;
    animation: spin 1.5s linear infinite;
}

.fade {
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#myTable {
    border-collapse: collapse;
    margin: 3% auto;
    width: 95%;
    background-color: white;
}

#myTable thead tr th:first-child,
#myTable tbody tr td:first-child {
    width: 1em;
}

tr {
    border-bottom: 1px solid rgb(222, 226, 230);
}

tr>th {
    border-bottom: 1px solid rgb(33, 37, 41);
}

th {
    font-weight: 700;
}

th,
td {
    padding: 8px;
    width: 100px;
    text-align: left;
}

.hideMyTableBody {
    display: none;
}

/* input images  */
tr #tdImg {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

td img {
    margin: auto 10px auto 0px;
}

/* No of cities  */
.pageData {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/* errorMessage  */
.errorDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

.hideErrorDiv {
    display: none;
}

.errorMessage {
    display: block;
}

.hideErrorMessage {
    display: none;
}

/* footer  */
.footer {
    position: absolute;
    right: 30px;
}

.noOfCities {
    width: 50px;
    text-align: center;
    margin: 5px;
    padding: 3px;
    border: 1px solid #000;
    border-radius: 4px;
    outline: none;
}

.noOfCities:focus {
    border: 1px solid #7952b3;
}

.cityData {
    text-align: right;
    margin: 20px;
}

.hideCityData {
    display: none;
}

.warningMessage {
    margin: auto;
    color: red;
    text-align: right;
    display: none;
}

.showWarningMessage {
    display: block;
}